.about_title_span{
    color: #59098E;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.our_vision_mision_row{
    background-color: #000000 !important;
    width: 100%;

}

.our_mision_vision_title{
    color:#fff;
    font-weight: 600;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0px;
}
.title_left_sec{
    display: flex;
    align-items: center;
    gap: .3rem;
    justify-content: center;
    margin-bottom: 25px;
}
.about_header{
    display: flex;justify-content: space-between;
    margin: 0 0 1.5rem 0rem;
}
.about_card{
    width: 100%;
    height: 100%;
}
.about_card_body{
    padding: 1rem;
    background: linear-gradient(180deg, #3f3f3f 0%, rgba(249, 249, 249, 0) 100%);
    
}
.img_why{
    position: relative;
}
.title_about{
    color: white;
    font-size: 22px;
    color: yellow;
    margin-bottom: 0.25rem;
}
.img_text{
    position: absolute;
    bottom: 0;
    left: 20px;
}
.custom_padding_left{
    padding-left: 0rem !important;
}
.why_description{
    font-weight: 400;
    font-family: math;
    line-height: 19px;
    font-size: 16px;
    color: #cecccc;
    text-transform: capitalize;
}
.custom_container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.header_rw{
    width: 85%;
}
.about_card_t{
    color:#c2bdbd;
    font-weight: 600;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
}

.about_card_para{
    color:#c2bdbd;
    font-weight: 400;
    font-size: 16px;
    font-family: monospace;
    text-transform: capitalize;
}

.ab_title_g{
    display: flex;
    align-items: center;
    gap: .2rem;
    margin-bottom:.6rem;
}
.ab_title_g img{
    width: 25px;
}
.hr_about{
    color: #fff;
    margin: 2rem 0rem;
}
.aboutbox{
    gap: 45px;
}