/* image 15 */
.image15{
    position: absolute;
    width: 944px;
    height: 449px;
    left: 157px;
    top: 2215px;
}
.image14{
position: absolute;
width: 563px;
height: 551px;
left: 228px;
top: 2179px;

/* background: url(image.png); */

}
