@import '@fortawesome/fontawesome-svg-core/styles.css';

body{
  background-color:white !important;
}
.ul{
  background-color: black;
  display: flex;
  justify-content: space-around;
  height: 64px;
  align-items: center;
  border-radius: 54px;
  border-bottom: 4px solid rgb(8, 222, 254);
  border-top: 4px solid red;
  border-left: 4px solid orange;
  border-right: 4px solid purple;
}

.Link{
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  font-family: serif;
  color: white;
}
.Link:hover{
  color: aqua;
}
.Logo{
  font-size: 33px;
  font-weight: 900;
  font-style: oblique;
  font-family: cursive;
  margin-right: 150px;
  margin-bottom: 6px;
  letter-spacing: 4px;
  margin-left: -60px;
}
/* carousal style */
.temp1{
  height: 490px;
  width: 100%; 
}
/* section 2 */
.textcontent{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.box{
  background-color: #7cb8df;
  display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    height: 100px;
    margin: 18px;
    border-radius: 15px;
    box-shadow: rgba(26, 22, 22, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(31, 28, 28, 0.2) 0px -3px 0px inset;
}
.txt1{
  max-width: 57%;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 700;
}
.icons{
  height: 31px;
}
.Mainbox1{
  border-right: 2px solid grey;
}